.about{
    width: 100%;
    margin: 0 auto;
    height: 500px;
    overflow-y: auto;
    padding: 2rem;
    margin-top: 4rem;
}

.about__images{
    display: flex;
    flex-direction: row;
}

.about__images img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.froalaEditor{
    position: fixed;
}


