.header {
    position: relative;
    height: 400px;
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .contactInfo {
    padding: 2rem;
  }
  
  .infoTitle {
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .infoText {
    margin-bottom: 1rem;
  }
  
  .contactForm {
    padding: 2rem;
  }
  
  .formTitle {
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .textField {
    margin-bottom: 1rem;
  }
  
  .submitButton {
    margin-top: 1rem;
  }
  