

.home__background {
  background: url('../../../../../../public/siteImages/background_site.png');
  background-size: 100% 100% cover;
  height: 400px;
}

.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productImage {
  height: 200px;
  background-color: #e0e0e0;
}
