.topbar{
    width: 100%;
    margin: 0 auto;
    height: 70px;
    background-color: #1E3932;
    display: grid;
    grid-template-columns: 4fr 1fr .5fr;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px 1px #2b2b2b;
    position: fixed;
    z-index: 1000;
}


.topbar__boxUser{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 5rem;
}

.topbar__boxUser svg{
    object-fit: cover;
}

.topbar__boxLogout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
   
}


.topbar__icon{
    width: 100px;
    height: 40px;
    object-fit: cover;
}