.positions{
    width: 100%;
    margin: 0 auto;
    height: 500px;
    overflow-y: auto;
    padding: 2rem;
    margin-top: 4rem;
}


.positions__table__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem;
    gap: 2rem;
}

.positions__table__search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55%;
    gap: 1rem;
}

.positions__table__input{
    width: 80%;
}

.positions__table__actions{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

  